svg {
  //fill: white;
  width: 15vw;
  height: 3vw;
  margin-bottom: 20px;

  line {
    //stroke: white;
  }

  .st0 {
    stroke: none;
    fill: white;
  }

  .st1 {
    fill: white;
    opacity: 0.7;
  }
}
