<p>Sean is a designer and software engineer from Texas, currently residing in Brooklyn. Her pronouns are <em>she</em> and <em>they</em>. She generally prefers <em>she</em> though, if you hadn't notice that about <em>her</em> yet! ❤️</p>

<p>She has been passionate about design her entire, and she views the discipline as something far beyond the little shapes on your black mirror or the type of handle thoughtfully selected for a door. Design is fundamentally concerned with objects communicate—whether digital or physical. As the world spins increasingly faster, brighter, and louder, she believes the use of design thinking to simplify and elate our environments is of dire and progressive importance.</p>

<div>Fun facts about Sean:
  <ul>
    <li>🧘🏻‍♀️ Buddhist/Athe<em>ish</em>, daily meditator</li>
    <li>🌱 Aspiring to veganism (with wavering success)</li>
    <li>🖌 Prefers to design <em>in & with</em> code instead of <em>for</em> code</li>
    <li>🌸 Student of Kado (aka. Ikebana, the art of flower arrangment)</li>
    <li>🐶 Her BFF is a 17 year old Westie named Murphy</li>
  </ul>
</div>
