@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:host {
  padding: 50px;
  // position: absolute;
  // top: 50%;
  float: left;
  // left: 50%;
  width: 600px;
  //transform: translate(-50%, -50%);
  border-left: 1px solid rgba(white, 0.5);
  border-radius: 3px;
  //background: rgba(black, 0.85);
  animation: fadeIn 300ms 200ms both;
    text-align: left;
      line-height: 1.5em;
}

p {
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 30px;
}

em {
  font-style: italic;
}
