<main>
  <h2 class="organization">lighthouse.lgbt</h2>
  <!-- <a href="http://lighthouse.lgbt" target="_blank">lighthouse.lgbt</a> -->

  <div class="roles">
    <span class="role">UIxD, Brand Design</span>
    <span class="role">Software Engineering</span>
  </div>

  <span class="work-type">Contract</span>
  <span class="period">2018 - present</span>

  <span class="project-description">Lighthouse is a carefully vetted network of LGBTQ affirming health and wellness providers.</span>

  <span class="my-role">I am currently working with lighthouse.lgbt on a rebrand, a new onboarding experience for users, and a redesign the of the dashboard for medical providers.</span>

</main>
