<main>
  <h1>Sera Maya Saoirse</h1>
  <span class="discipline">UIxD Designer, Engineer</span>
  <about *ngIf="showAbout"></about>
</main>

<div class="slant"></div>

<div class="tiles">
  <div class="tile" routerLink="/lighthouse">
    <logo-lighthouse></logo-lighthouse>
    <!-- <h2 class="organization">lighthouse.lgbt</h2> -->

    <span class="role">UIxD, Brand Design</span>
    <span class="role">Software Engineering</span>

    <span class="work-type">Contract</span>
  </div>

  <a class="tile"
    href="http://nox.nyc"
    target="_blank">
    <logo-nox></logo-nox>
    <!-- <h2 class="organization">nox.nyc</h2>
    <span class="work-type">coming soon</span> -->
  </a>

  <div class="tile">
    <logo-gust></logo-gust>
    <!-- <h2 class="organization">Gust</h2> -->

    <span class="role">UIxD Design</span>
    <span class="role">Software Engineering</span>
  </div>

  <div class="tile">
    <h2 class="organization">Sharewave</h2>

    <span class="role">UIxD Design</span>
    <span class="role">Front End Development</span>

    <!-- <a href="https://www.crunchbase.com/organization/sharewave-3">link</a> -->
  </div>

  <div class="tile">
    <h2 class="organization">North Street</h2>

    <span class="role">Responsive Design</span>
    <span class="role">Front End Development</span>

    <span class="work-type">Contract</span>
  </div>

  <div class="tile">
    <logo-holly></logo-holly>
    <!-- <h2 class="organization">holly.yoga</h2> -->

    <span class="role">Design</span>
    <span class="role">Web Development</span>

    <span class="work-type">Contract</span>
  </div>

  <a class="tile"
    href="https://www.youtube.com/results?search_query=TEDxSLC"
    target="_blank">
    <logo-tedxslc></logo-tedxslc>
    <!-- <h2 class="organization">TEDxSLC</h2> -->

    <span class="role">Co-Founder</span>
    <span class="role">Design, Production, Editing</span>
  </a>
</div>
