<div class="experience">
  <h1>Experience</h1>

  <div class="entry">
    <span class="title">Interaction Designer & Software Engineer</span>
    <span class="company">Gust</span>
    <span class="years">2016 - 2018</span>
    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing espant. Sed arcu leo, viverra et mi vitae, gravida vulputate lacus. Etiam sem dui, accumsan non vulputate a, ornare lobortis justo. Aenean elit justo, placerat quis molestie et, laoreet eu velit.</span>
  </div>

  <div class="entry">
    <span class="title">UX Designer & Front End Developer</span>
    <span class="company">Sharewave</span>
    <span class="years">2015 - 2016</span>
    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu leo, viverra et mi vitae, gravida vulputate lacus. Etiam sem dui, accumsan non vulputate a, ornare lobortis justo. Aenean elit justo, placerat quis molestie et, laoreet eu velit.</span>
  </div>

  <div class="entry">
    <span class="title">Front End Developer</span>
    <span class="company">Gust</span>
    <span class="years">2016 - 2018</span>
    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu leo, viverra et mi vitae, gravida vulputate lacus. Etiam sem dui, accumsan non vulputate a, ornare lobortis justo. Aenean elit justo, placerat quis molestie et, laoreet eu velit.</span>
  </div>

  <div class="entry">
    <span class="title">Front End Developer</span>
    <span class="company">North Street Creative</span>
    <span class="years">2014</span>
    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu leo, viverra et mi vitae, gravida vulputate lacus. Etiam sem dui, accumsan non vulputate a, ornare lobortis justo. Aenean elit justo, placerat quis molestie et, laoreet eu velit.</span>
  </div>

  <div class="entry">
    <span class="title">Co-Founder & Producer</span>
    <span class="company">TEDxSLC</span>
    <span class="years">2012 - 2013</span>
    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu leo, viverra et mi vitae, gravida vulputate lacus. Etiam sem dui, accumsan non vulputate a, ornare lobortis justo. Aenean elit justo, placerat quis molestie et, laoreet eu velit.</span>
  </div>
</div>

<div class="education">
  <h1>Education</h1>

  <div class="entry">
    <span class="organization">Sarah Lawrence College</span>
    <span class="years">2008 - 2012</span>
    <span class="description">Philosophy, Technology, Art, Design, & Film</span>
  </div>

  <div class="entry">
    <span class="organization">General Assembly</span>
    <span class="years">2013</span>
    <span class="description">User Experience Design courses</span>
  </div>

  <div class="entry">
    <span class="organization">The School of the Art Institute of Chicago</span>
    <span class="years">2007</span>
    <span class="description">Early College Summer Program</span>
  </div>

  <div class="entry">
    <span class="organization">The School of the Art Institute of Chicago</span>
    <span class="years">2007</span>
    <span class="description">Early College Summer Program</span>
  </div>

  <div class="entry">
    <span class="organization">University of Houston</span>
    <span class="years">2006</span>
    <span class="description">Architecture Summer Program</span>
  </div>

  <div class="entry">
    <span class="organization">High School for the Performing and Visual Arts</span>
    <span class="years">2004 - 2008</span>
    <span class="description">Visual Art</span>
  </div>
</div>

<div class="expertise">
  <h1>Expertise</h1>
  <span>Angular</span>
  <span>AngularJS</span>
  <span>Javascript (ES2017)</span>
  <span>TypeScript</span>
  <span>SCSS</span>
  <span>PostCSS</span>
  <span>SVG</span>
  <span>CSS Animation</span>
  <span>Photoshop</span>
  <span>Illustrator</span>
  <span>Final Cut Studio X</span>
</div>
