html, body {
    box-sizing: border-box;
    font: 600 20px/1 "proxima-nova";
    *, *:before, *:after {
        box-sizing: inherit;
        text-rendering: optimizelegibility;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
    }
    overflow: hidden;
    height: 100%;
    background: #222222;

    > header,
    > section,
    > footer {
        max-width: 900px;
        padding: 0 30px;
        margin: 40px auto 0;
        display: block;
        overflow: hidden;
        z-index: 100;
        position: relative;
        @media screen and (min-width: 1024px) {
            margin: 60px auto 0;
            padding: 0 40px;
        }
    }
}

body {
    color: #FFF;
    overflow-y: auto;
    transition: background-color 1000ms;

    // gradients
    &.t5  { background: linear-gradient(#25383C, #000000); }
    &.t6  { background: linear-gradient(#171930, #A8DCE7); }
    &.t7  { background: linear-gradient(#313A56, #B8EEFF); }
    &.t8  { background: linear-gradient(#405582, #E3EAFF); }
    &.t9  { background: linear-gradient(#376FB7, #B9D8ED); }
    &.t10 { background: linear-gradient(#5679CD, #96BFE3); }
    &.t11 { background: linear-gradient(#5A83C3, #96BFE3); }
    &.t12 { background: linear-gradient(#5A83C3, #77b1d8); }
    &.t13 { background: linear-gradient(#5C71C2, #77b1d8); }
    &.t14 { background: linear-gradient(#414FBA, #77b1d8); }
    &.t15 { background: linear-gradient(#4657CC, #658FCB); }
    &.t16 { background: linear-gradient(#373AB9, #6995C4); }
    &.t17 { background: linear-gradient(#292f99, #5C8EA5); }
    &.t18 { background: linear-gradient(#383178, #527A97); }
    &.t19 { background: linear-gradient(#3C2D6B, #4F7587); }
    &.t20 { background: linear-gradient(#3B3057, #29415D); }
    &.t21 { background: linear-gradient(#32314D, #142643); }
    &.t22 { background: linear-gradient(#2B2237, #0E0E16); }
    &.t23 { background: linear-gradient(#211E2B, #000000); }
    &.t24 { background: #000; }
    &.t0  { background: #000; }
    &.t1  { background: #000; }
    &.t2  { background: #000; }
    &.t3  { background: linear-gradient(#262626, #000000); }
    &.t4  { background: linear-gradient(#222A2C, #000000); }

    // links
    a     { transition: 120ms ease-in-out; }
    &.t5  { a:hover { color: #DBDBC7; border-color: #DBDBC7; } }
    &.t6  { a:hover { color: #FFD6BD; border-color: #FFD6BD; } }
    &.t7  { a:hover { color: #FFF3B9; border-color: #FFF3B9; } }
    &.t8  { a:hover { color: #FAFBB1; border-color: #FAFBB1; } }
    &.t9  { a:hover { color: #EAFFCA; border-color: #EAFFCA; } }
    &.t10 { a:hover { color: #F0FFBA; border-color: #F0FFBA; } }
    &.t11 { a:hover { color: #FAF9A8; border-color: #FAF9A8; } }
    &.t12 { a:hover { color: #FFE996; border-color: #FFE996; } }
    &.t13 { a:hover { color: #FFE996; border-color: #FFE996; } }
    &.t14 { a:hover { color: #FFE996; border-color: #FFE996; } }
    &.t15 { a:hover { color: #C0F3B9; border-color: #C0F3B9; } }
    &.t16 { a:hover { color: #A3EDDD; border-color: #A3EDDD; } }
    &.t17 { a:hover { color: #A3EDDD; border-color: #A3EDDD; } }
    &.t18 { a:hover { color: #92F7CB; border-color: #92F7CB; } }
    &.t19 { a:hover { color: #DCEA98; border-color: #DCEA98; } }
    &.t20 { a:hover { color: #E1E085; border-color: #E1E085; } }
    &.t21 { a:hover { color: #EFE182; border-color: #EFE182; } }
    &.t22 { a:hover { color: #F6E4A7; border-color: #F6E4A7; } }
    &.t23 { a:hover { color: #FAF1C9; border-color: #FAF1C9; } }
    &.t24 { a:hover { color: #FFE7DD; border-color: #FFE7DD; } }
    &.t0  { a:hover { color: #FFE7F1; border-color: #FFE7F1; } }
    &.t1  { a:hover { color: #E4DBFA; border-color: #E4DBFA; } }
    &.t2  { a:hover { color: #DDD5FF; border-color: #DDD5FF; } }
    &.t3  { a:hover { color: #D4C9F7; border-color: #D4C9F7; } }
    &.t4  { a:hover { color: #AEC4F9; border-color: #AEC4F9; } }
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font: 400 16px/1.6667 "proxima-nova";
    @media screen and (min-width: 1024px) {
        font: 400 20px/1.6667 "proxima-nova";
    }
    a {
        font: 800 16px/1.6667 "proxima-nova";
        @media screen and (min-width: 1024px) {
            font: 800 20px/1.6667 "proxima-nova";
        }
        letter-spacing: 0.25px;
        border-bottom: 2px solid #FFF;
    }
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        float: left;
    }
}

.name {
    display: block;
    float: left;
    width: 100%;
    font: 700 30px/42px "proxima-nova";
    text-align: center;
    padding: 10px;
    @media screen and (min-width: 1024px) {
        text-align: left;
        width: auto;
        font: 700 42px/100px "proxima-nova";
        padding: 0 30px;
    }
}

.titles,
.blurb {
    display: block;
    width: 100%;
}

.blurb {
    margin-top: 40px;
}

.titles {
    float: left;
    font: 400 22px/1.4 "proxima-nova";
    letter-spacing: 0.333px;
    margin-top: 20px;
    @media screen and (min-width: 1024px) {
        margin-top: 40px;
        font: 400 28px/1.4 "proxima-nova";
    }
    a {
        font: 800 26px/1.4 "proxima-nova";
        letter-spacing: 0.666px;
        @media screen and (min-width: 1024px) {
            font: 800 32px/1.5 "proxima-nova";
        }
    }
}

#time {
    position: fixed;
    top: 20px;
    right: 20px;
    font: 400 18px/1 "proxima-nova";
    letter-spacing: 2px;
    color: rgba(#FFF,0.75);
    cursor: pointer;
    transition: 200ms;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid rgba(#FFF,0.05);
    &:hover {
        color: rgba(#FFF,1);
        background-color: rgba(#FFF,0.1);
        border: 1px solid rgba(#FFF,0.5);
    }
}

@keyframes clock {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.025);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.timeWrap {
    opacity: 0.666;
    &:hover {
        opacity: 1;
        #clock,
        #hour {
            animation: none;
        }
    }
    transition: 200ms ease-in-out;
}

#clock {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    fill: transparent;
    stroke: #FFF;
    stroke-width: 1.5px;
    stroke-dasharray: 156 156;
    transform: rotate(0);
    cursor: pointer;
    user-select: none;
    animation: 2300ms ease-in-out infinite both clock;
}

#hour {
    position: fixed;
    top: 45px;
    right: 45px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    pointer-events: none;
    font: 300 24px/50px "proxima-nova";
    cursor: pointer;
    user-select: none;
    animation: 2300ms ease-in-out infinite both clock;
}

#contact {
    h2 {
        font: 700 24px/1 "proxima-nova";
        margin-bottom: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .email {
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
    ul {
        overflow: hidden;
        display: block;
        float: left;
        width: 100%;
    }
    li {
        float: left;
        margin-right: 30px;
        font: 400 18px/1 "proxima-nova";
    }
}

.license {
    margin-top: 40px;
    border-top: 1px solid rgba(#FFF,0.25) !important;
    width: 100%;
    padding-top: 40px;
    float: left;
    font: 400 12px/1 "proxima-nova";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(#FFF,0.6666);
    &:hover {
        border-top: 1px solid rgba(#FFF,0.25) !important;
    }
}

#nyc {
    margin: -15% 0 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    img {
        width: 100%;
        float: left;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.99);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.loadIn    { animation: 300ms ease-in-out backwards fadeIn; }
.avatar    { animation-delay: 620ms; }
.name      { animation-delay: 700ms; }
.titles    { animation-delay: 750ms; }
.blurb     { animation-delay: 775ms; }
#contact   { animation-delay: 787.5ms; }
.license   { animation-delay: 793.75ms; }
